In [1]:
%pip install numpy --upgrade
%pip install DBcm --only-binary :all:

Requirement already satisfied: numpy in c:\users\migue\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Collecting numpy
  Downloading numpy-2.2.4-cp311-cp311-win_amd64.whl.metadata (60 kB)
Downloading numpy-2.2.4-cp311-cp311-win_amd64.whl (12.9 MB)
   ---------------------------------------- 0.0/12.9 MB ? eta -:--:--
   -------------- ------------------------- 4.7/12.9 MB 28.6 MB/s eta 0:00:01
   ------------------------------------ --- 11.8/12.9 MB 30.8 MB/s eta 0:00:01
   ---------------------------------------- 12.9/12.9 MB 30.1 MB/s eta 0:00:00
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 2.2.3
    Uninstalling numpy-2.2.3:
      Successfully uninstalled numpy-2.2.3
Successfully installed numpy-2.2.4
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.2.0 requires joblib~=1.1.0, but you have joblib 1.4.2 which is incompatible.
streamlit-pandas 0.0.9 requires pandas<2.0.0,>=1.0.0, but you have pandas 2.2.3 which is incompatible.
streamlit-pandas 0.0.9 requires streamlit<1.19.0,>=1.18.0, but you have streamlit 1.42.1 which is incompatible.

Requirement already satisfied: DBcm in c:\users\migue\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.0.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: mariadb in c:\users\migue\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from DBcm) (1.1.12)
Requirement already satisfied: packaging in c:\users\migue\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mariadb->DBcm) (24.2)

In [2]:
import pandas as pd
import DBcm

In [3]:
URL="https://en.wikipedia.org/wiki/List_of_world_records_in_swimming"

In [4]:
db_details="CoachDB.sqlite3"

In [5]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results= db.fetchall()

In [6]:
results

[('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [7]:
SQL="""
    select time()
"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results= db.fetchall()
results

[('07:51:39',)]

In [8]:
SQL="""
    create table if not exists swimmers(
        id integer primary key autoincrement,
        name varchar(32) not null,
        age integer not null
)
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [9]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results= db.fetchall()
results

[('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]

In [10]:
with DBcm.UseDatabase(db_details) as db:
    SQL1="""
        create table if not exists events(
            id integer not null primary key autoincrement,
            distance varchar(16) not null,
            stroke varchar(16) not null
        )
        """
    SQL2="""
        create table if not exists times (
            swimmer_id integer not null,
            event_id integer not null,
            time varchar(16) not null,
            ts timestamp default current_timestamp
           
        )
        """
    db.execute(SQL1)
    db.execute(SQL2)

In [11]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_list")
    results= db.fetchall()
results

[('main', 'times', 'table', 4, 0, 0),
 ('main', 'events', 'table', 3, 0, 0),
 ('main', 'sqlite_sequence', 'table', 2, 0, 0),
 ('main', 'swimmers', 'table', 3, 0, 0),
 ('main', 'sqlite_schema', 'table', 5, 0, 0),
 ('temp', 'sqlite_temp_schema', 'table', 5, 0, 0)]