In [1]:
%pip install DBcm --upgrade

Requirement already satisfied: DBcm in c:\users\migue\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.0.5)
Requirement already satisfied: mariadb in c:\users\migue\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from DBcm) (1.1.12)
Requirement already satisfied: packaging in c:\users\migue\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mariadb->DBcm) (24.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import DBcm
import os

In [3]:
db_details="CoachDB.sqlite3"

In [4]:
SQL_INSERT="""
           insert into swimmers
           (name, age)
           values
           (?,?)
"""

In [5]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL_INSERT, ('John Doe', 25))

In [6]:
SQL= """
    select * from swimmers
"""

In [13]:
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results=db.fetchall()
results

[]

In [8]:
SQL="""
        delete from swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [21]:
import os
import DBcm

db_details="CoachDB.sqlite3"


FOLDER="swimdata/"

files=os.listdir(FOLDER)
files.remove(".DS_Store")

SQL_SELECT="""
         select * from swimmers
         where name = ?
         and age = ?
        """

SQL_INSERT="""
         insert into swimmers
         (name,age)
         values
         (?,?)
        """

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, _, _ = fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (name, age))
        if db.fetchall():  # Corrected typo here
            continue
        db.execute(SQL_INSERT, (name, age))

In [22]:
SQL= """
    select * from swimmers
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results=db.fetchall()
results

[(113, 'Hannah', 13),
 (114, 'Darius', 13),
 (115, 'Owen', 15),
 (116, 'Mike', 15),
 (117, 'Abi', 10),
 (118, 'Ruth', 13),
 (119, 'Tasmin', 15),
 (120, 'Erika', 15),
 (121, 'Maria', 9),
 (122, 'Elba', 14),
 (123, 'Ali', 12),
 (124, 'Chris', 17),
 (125, 'Aurora', 13),
 (126, 'Katie', 9),
 (127, 'Alison', 14),
 (128, 'Emma', 13),
 (129, 'Calvin', 9),
 (130, 'Blake', 15),
 (131, 'Bill', 18),
 (132, 'Dave', 17),
 (133, 'Lizzie', 14),
 (134, 'Carl', 15)]

In [25]:
SQL_SELECT="""
         select * from events
         where distance= ? and stroke=?
        """
SQL_INSERT="""
         insert into events
         (distance, stroke)
         values
         (?,?)
        """

with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        _ ,_,distance,stroke=fn.removesuffix(".txt").split("-")
        db.execute(SQL_SELECT, (distance,stroke))
        if db.fetchall():  # Corrected typo here
            continue
        db.execute(SQL_INSERT, (distance,stroke))

In [27]:
SQL= """
    select * from events
"""

with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results=db.fetchall()
results

[(1, '100m', 'Free'),
 (2, '100m', 'Back'),
 (3, '100m', 'Fly'),
 (4, '50m', 'Back'),
 (5, '200m', 'Free'),
 (6, '200m', 'Back'),
 (7, '50m', 'Free'),
 (8, '50m', 'Breast'),
 (9, '200m', 'IM'),
 (10, '100m', 'Breast'),
 (11, '400m', 'Free'),
 (12, '50m', 'Fly'),
 (13, '200m', 'Breast')]

In [28]:
with DBcm.UseDatabase(db_details) as db:
    db.execute("pragma table_info('times')")
    results = db.fetchall()
results

[(0, 'swimmer_id', 'INTEGER', 1, None, 0),
 (1, 'event_id', 'INTEGER', 1, None, 0),
 (2, 'time', 'varchar(16)', 1, None, 0),
 (3, 'ts', 'timestamp', 0, 'current_timestamp', 0)]

In [29]:
SQL_GET_SWIMMER = """
    select id from swimmers
    where name = ? and age = ?
"""

In [30]:
SQL_GET_EVENT = """
    select id from events
    where distance = ? and stroke = ?
"""

In [31]:
SQL_INSERT = """
    insert into times
    (swimmer_id, event_id, time)
    values
    (?, ?, ?)
"""

In [32]:
SQL = """select * from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[]

In [33]:
SQL = """delete from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)

In [34]:
with DBcm.UseDatabase(db_details) as db:
    for fn in files:
        name, age, distance, stroke = fn.removesuffix(".txt").split("-")
        db.execute(SQL_GET_SWIMMER, (name, age,))
        s_id = db.fetchone()[0]
        db.execute(SQL_GET_EVENT, (distance, stroke,))
        e_id = db.fetchone()[0]
        with open(FOLDER+fn) as sf:
            times = sf.read().strip().split(",")
            for t in times:
                db.execute(SQL_INSERT, (s_id, e_id, t,))

In [35]:
SQL = """select count(*) from times"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchone()[0]
results

338

In [36]:
SQL = """select * from times limit 10"""
with DBcm.UseDatabase(db_details) as db:
    db.execute(SQL)
    results = db.fetchall()
results

[(113, 1, '1:21.43', '2025-04-15 09:21:24'),
 (113, 1, '1:21.40', '2025-04-15 09:21:24'),
 (113, 1, '1:21.62', '2025-04-15 09:21:24'),
 (113, 1, '1:25.38', '2025-04-15 09:21:24'),
 (114, 2, '1:22.57', '2025-04-15 09:21:24'),
 (114, 2, '1:29.64', '2025-04-15 09:21:24'),
 (114, 2, '1:20.39', '2025-04-15 09:21:24'),
 (114, 2, '1:23.83', '2025-04-15 09:21:24'),
 (115, 1, '1:15.57', '2025-04-15 09:21:24'),
 (115, 1, '1:14.40', '2025-04-15 09:21:24')]